.common-title {
    font-size: 14px;
    color: #334155;
    padding-left: 5px;
    border-left: 3px solid #334155;
    height: 14px;
    span {
        position: relative;
        bottom: 3.5px;
    }
}

.common-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
