.common-title {
    font-size: 14px;
    color: #334155;
    padding-left: 5px;
    border-left: 3px solid #334155;
    height: 14px;
    span {
        position: relative;
        bottom: 3.5px;
    }
}

.common-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt18 {
    margin-top: 18px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.display-flex {
    display: flex;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}
